{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Convert Files</title>
        <link rel="stylesheet" href="{%static 'css/styles13.css' %}" >
        </head>
        <style>
			body {
				background-image: url("static/img/blue.jpg");
			}
		</style>
        <body>
            <section class="askdetails">
                <p class="file">What do you want to do? </p>
                <hr>
                <a href="rent"><p class="mario"><b>New Booking</b></p></a>
                <a href=""><p class="luigi"><b>Cancel booking</b></p></a>
                <a href=""><p class="wario"><b>Register CYKL for maintenance</b></p></a>
             </section>
        </body>


</html>
    